@import "./variables.scss";

button {
  border-radius: 20px !important;
  height: 40px;
  border: 1px solid $color1;
  background-color: $color1;
  color: #ffffff;
  padding: 4px 25px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.button {
  border-radius: 20px !important;
  height: 40px;
  border: 1px solid $color1;
  background-color: $color1;
  color: #ffffff;
  padding: 4px 25px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}
